/* Add a red color to icons and set the font-size */

.ad1 {
    background-image: url(pictures/pexels-photo-897651.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}

.ad2 {
    /*background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.ad3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.ad3 .btn {
    font-size: 120%;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: solid #3a6168;
    padding: 10px 20px;
    margin-left: 200px;
}

.ad3 .btn:hover {
    color: #ff6666;
    border: solid #ff6666;
}

.container-fluid {
    padding: 8px;
    margin: 2px;
}

.navbar {
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
}

.ad5 {
    background-color: #ff6666;
    color: #fff;
}

body {
    font: 20px;
    line-height: 1.8;
}

p {
    font-size: 16px;
    font-family: montserrat yantramanav;
}

.carousel-item h4 {
    font-size: 18px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.carousel-item span {
    font-style: normal;
}

.ab1 {
    color: #330000;
    font-size: 80px;
    padding-left: 60px;
}

address {
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
}

.nav-link {
    color: #000;
}