/* Add a red color to icons and set the font-size */

.g1 {
    color: #ff4d4d;
    font-size: 40px;
}

.g2 {
    color: #ff6666;
    font-size: 20px;
}

.ad1 {
    background-image: url(pictures/pexels-photo-897651.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}

.ad2 {
    /*background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.ad3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.ad3 .btn {
    font-size: 120%;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: solid #3a6168;
    padding: 10px 20px;
    margin-left: 200px;
}

.ad3 .btn:hover {
    color: #ff6666;
    border: solid #ff6666;
}

.container-fluid {
    padding: 10px;
}

.navbar {
    padding: 2px;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.ad4 {
    background-color: #2f2f2f;
    color: #ffffff;
    display: table;
}

.ad5 {
    background-color: #ff6666;
    color: #ffffff;
}

body {
    font: 20px;
    line-height: 1.8;
    color: #f5f6f7;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    font-size: 16px;
    font-family: montserrat yantramanav;
}

span {
    color: #000;
}

.carousel-indicators li.active {
    background-color: #00cc99;
}

.carousel-item h4 {
    font-size: 18px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.carousel-item span {
    font-style: normal;
}

textarea {
    resize: none;
}

.ad6 {
    background-color: #ffffff;
    /* white */
    color: #555555;
}

.ab1 {
    color: #330000;
    font-size: 80px;
    padding-left: 60px;
}

address {
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}